<!-- catalog page -->
<p id="notice"><%= notice %></p>

<h1>鲜花列表</h1><br><br>

<table>
  <thead>
    <tr>
      <th>鲜花图片</th>
      <th>花名</th>
      <th>花语</th>
      <th>价格</th>
      <th>分类</th>
      <th>子类别</th>
      <th colspan="8"></th>
    </tr>
  </thead>



  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <div class = "image">
          <%= image_tag product.productImage %>
          </div>
        </td>
        <td>
          <div class = "title">
          <%= link_to product.title, product %>
          </div>
        </td>
        <td>
          <div class = "description" >
            <%= product.description %>
          </div>
        </td>
        <td>
          <div class = "price">
            <%= product.price %>
          </div>
        </td>
          <td><%= product.category %></td>
          <td><%= product.subcategory %></td>
          <td><%= link_to '详情', product ,:class => "btn btn-warning"%></td>
          <td><%= button_to "添加到购物车", "/cart/#{product.id}",:class => "btn btn-info", :method => "get" %></td>
        </tr>
        <tr>
          <td><p></p></td>

          <td><p></p></td>

      </tr>
    <% end %>

</table>
<br /> <br />


  <div class="panel-footer">
      <div class="user-paginate">
      <%= paginate @products %>
      </div>
  </div>