<!---product page-->
<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Title:</strong><br>
  <%= @product.title %>
</p><br>

<p>
  <strong>Description:</strong><br>
  <%= @product.description %>
</p><br>

<p>
  <strong>Image:</strong><br>
  <%= image_tag @product.productImage.url %>
  <% debug @product.productImage.url %>
  
</p><br>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>


<a href="/cart/<%= @product.id %>">Add To Cart</a>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
