<!---product page-->
<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>花名:</strong><br>
  <%= @product.title %>
</p><br>

<p>
  <strong>花语:</strong><br>
  <%= @product.description %>
</p><br>

<p>
  <strong>图片:</strong><br>
  <%= image_tag @product.productImage.url %>
  <% debug @product.productImage.url %>
  
</p><br>

<p>
  <strong>价格:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>分类:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>子类别:</strong>
  <%= @product.subcategory %>
</p>

<p>
  <a href="/cart/<%= @product.id %>" class= "btn btn-info">添加到购物车</a> | 
  <%= link_to '返回', products_path ,class: "btn btn-success"%>
</p>
