<h1>确认订单</h1><br><br>


<%= form_tag "/charges/create" do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
     <div= "billing"><h3>配送地址</h3>
      <div class="field">
        <%=label_tag "姓名" %><br />
        <%=text_field :fname, [:fname] %>
      </div><br />
      <div class="field">
        <%=label_tag "地址" %><br />
        <%=text_field :address1, [:address1] %>
      </div><br />
      <div class="field">
        <%=label_tag "城市" %><br />
        <%=text_field :city, [:city] %>  
      </div><br />
      <div class="field">
        <%=label_tag "电话" %><br />
        <%=text_field :contact, [:contact] %>  
      </div><br />
      <%=label_tag="Total Amount"%><%=@amount %>
      <span class="btn"><%= submit_tag "付款" %></span>
      </div>

      
  </article>
  <% end %>
