<!DOCTYPE html>
<html>
<head>
  <title>Perky Flower Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
<nav id="nav">
  <div id="page_nav">
    <%= link_to "首页", root_path %>
    <%= link_to "鲜花", products_path %>
    <%= link_to "关于本店", page_about_path %>
    <%= link_to "联系我们", page_contact_path %>
  </div>
  
  <div id="sign_in">
    <% if user_signed_in? %> 
      <%= link_to "我的账户", users_path(@user) %>
      <%= link_to "退出登录", destroy_user_session_path, method: :delete %>
      <%= link_to "购物车", cart_path %>

    <% else %>
      <%= link_to "登录", new_user_session_path %>
      <%= link_to "注册", new_user_registration_path %>
      <%= link_to "管理员入口", "/login" %>
      <%= link_to "购物车", cart_path %>
    <% end %>
  </div>

</nav>  

<div id="main_wrap">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
</div>

</body>
</html>